.achie-page-container {
    background-image: url('/bg-achievment.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 93vh;
    margin-bottom: -5rem;
    width: 97.1vw;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.logo {
  position: absolute;
  top: 20px;
  left: 50px;
  height: 120px;
}

.logo img {
  height: 100%;
  width: auto;
}

.close-btn-home {
    position: absolute;
    top: -2rem;
    right: 0rem;
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }

.close-btn-home :hover {
background-color: blue;
  }

