.game-info-container {
    background-image: url('/bg-gameinfo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 108.5vh;
    margin-bottom: -5rem;
    width: 100vw;
    padding: 5rem 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .content {
    background-color: rgba(139, 139, 139, 0.5);
    padding: 6rem;
    border-radius: 2rem;
    max-width: 1000px;
  }

  .close-btn-home {
    position: absolute;
    top: -2rem;
    right: 0rem;
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }

  .close-btn-home :hover {
background-color: blue;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  