.login-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('/bg-login.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #202020;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  max-width: 90%;
}

.tulisan-login {
  max-width: 800px;
  height: auto;
  margin-top: -50px;
}

.login-form {
  width: 1740px;
  padding: 65px 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}


.login-form input {
  padding: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn-wrapper {
  margin-top: 15px;
  text-align: center;
}


.login-btn {
  background-color: #000000;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.login-btn:hover {
  background-color: #115e59;
}


.register-btn {
  background-color: #000000;
  color: white;
  padding: 10px 55px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #581c87;
}

/* Tombol Google */
.google-login-btn {
  background-color: #4285F4;
  color: white;
  padding: 10px 35px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-btn:hover {
  background-color: #3367D6;
}

.back-btn-home {
  position: absolute;
  top: -2rem;
  right: 0rem;
  font-size: 3rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

