.login-page {
  height: 100vh;
  width: 100vw;
  background-image: url('/bg-login.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-form {
  background-color: rgba(139, 139, 139, 0.5);
  padding: 50px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  width: 1200px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.tulisan-login-wrapper {
  text-align: center;
}

.tulisan-login {
  max-width: 70%;
  height: auto;
}


.input-email,
.input-password {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(112, 35, 167, 0.6), rgba(0, 15, 27, 0.6));
  width: 300px;
  padding: 15px 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  color: white ;
}


.login-btn {
  width: 160px;
  height: 60px;
  padding: 12px 20px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color:  #9d909e;
}


.register-btn {
  width: 160px;
  height: 60px;
  padding: 12px 20px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color:  #9d909e;
}


.google-login-btn {
  width: 260px;
  height: 60px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #4285F4;
  color: white;
  transition: background-color 0.3s ease;
}

.google-login-btn:hover {
  background-color: #3367D6;
}


.back-btn-home {
  position: absolute;
  top: -2rem;
  right: 0rem;
  font-size: 3rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.btn-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}