@import './Login.css';

.tulisan-register {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: -50px;
}


.register-btn {
  background-color: #000000 !important;
  border-radius: 15px !important;
  text-align: center !important;
  width: 200px;
  height: 60px;
}

.register-btn:hover {
  background-color: #888888 !important;
}
