.character {
  position: absolute;
  width: 70px; 
  height: 90px;
  background-image: url('/Sprites/robot-full-sprite.png'); 
  background-repeat: no-repeat;
  background-size: auto;
  image-rendering: pixelated;
  z-index: 5;
  transform: translate(-100%, -20%); /* posisiii robot nyaaaaaa*/
}


.idle {
  background-position: 0 0;
}


.walk {
  animation: walkAnim 0.6s steps(3) infinite;
  background-position: -80px 0;
}

@keyframes walkAnim {
  from { background-position: -80px 0; }
  to { background-position: -320px 0; }
}


.jump {
  animation: jumpAnim 0.4s steps(2) infinite;
  background-position: -320px 0;
}

@keyframes jumpAnim {
  from { background-position: -320px 0; }
  to { background-position: -480px 0; }
}


.turn-on {
  animation: lightAnim 0.4s steps(2) infinite;
  background-position: -480px 0;
}

@keyframes lightAnim {
  from { background-position: -480px 0; }
  to { background-position: -640px 0; }
}