.grid-container {
  position: relative;
  width: 800px; /* sesuaikan */
  height: 600px; /* sesuaikan */
  margin: auto;
}

.tile {
  position: absolute;
  width: 64px;
  height: 64px;
}

.tile-img {
  width: 100%;
  height: auto;
}

.player-img {
  position: absolute;
  top: -32px; /* biar kelihatan di atas blok */
  left: 0;
  width: 64px;
}