.navbar {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 2rem;
  height: 70px;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar-logo {
  height: 150%;
  display: flex;
  align-items: center;
  margin-left: 0;
}

.navbar-logo img {
  height: 150%;
  width: auto;
  object-fit: contain;
  display: block;
  margin-left: 90px;
}

.garis {
  display: flex;
  align-items: center;
}

.garis img {
  height: 20%;
  width: 60PX;
  object-fit: contain;
  display: block;
  margin-left: -240px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  gap: 12rem;
}

.nav-links li {
  white-space: nowrap;
}

.nav-links a,
.contact-nav {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  padding: 0;
}

.contact-nav:hover {
  color:   #646cff;
}